<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <title>{{ page.title }} - hemantha.me</title>
  <meta name="description" content="Personal Blog of Hemantha Holla" />
  <meta name="author" content="Hemantha Holla" />
  <meta name="viewport" content="width=device-width" />

  <!-- Custom CSS 
    <link rel="stylesheet" href="/css/syntax.css"/>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.1.0/pure-min.css"/>
  -->
  <link href='http://fonts.googleapis.com/css?family=Average+Sans'
    rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="shortcut icon" href="images/favicon.ico" />
  </head>
  <body>
    <div class="sidebar">
      <header id="logo">
        <p>
          <a href="/">
            <b>{{ site.name }}</b>
          </a>
        </p>
      </header>
      <nav class="menu">
        <ul>
          <li><a href="/about">about</a></li>
          <li><a href="/archives">posts</a></li>
          <li><a href="/feed">feed</a></li>
        </ul>
      </nav>
    </div>
    <div id="main">
      <article>
        <div class="content">
          {{ content }}
        </div>
      </article>
      <footer>
        <p id="blurb" class="sidebar">
          <a href="mailto:holla+blog@ DELETETHISWORD hemantha.me" id="mail">
            <img src="/img/contact.png" class="sprite-img mail" alt="mail" />
          </a>
          <a href="http://facebook.com/hemantha.holla">
            <img src="/img/contact.png" class="sprite-img fb" alt="facebook" />
          </a>
          <a href="http://twitter.com/inaurelian" id="twitter">
            <img src="/img/contact.png" class="sprite-img tw" alt="twitter" />
          </a>
        </p>
      </footer>
    </div>
  </body>
</html>
